.material-you-top-app-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}
