---
import { Head } from "~/components/head";

// Plain
import "@fontsource-variable/roboto-flex/grad.css";
// Brand
import "@fontsource-variable/manrope"
// Monospace / code
import "@fontsource-variable/fira-code";
// Icons
import "@fontsource-variable/material-symbols-rounded/fill.css";


import "~/theme/global.css";
import "~/styles/global.css";

---

<html lang="en">
  <head>
    <Head title="Material Solid" />
  </head>
  <body>
    <slot />
  </body>
</html>
